.container
  .row
    .col-lg-12
      %h1.page-header
        Actors
    - @results.each do |result|
      - next unless result[:name] && result[:depiction]
      .col-lg-3
        .thumbnail
          = result[:name].to_s
          = link_to image_tag(result[:depiction].to_s), "http://localhost:3000/actor/#{result[:name].to_s}"
